<div id="<%= dom_id message %>" class="list-group-item">
  <div class="d-flex justify-content-between align-items-baseline">
    <div class="fw-bold text-muted">
      <%= message.author %>
    </div>

    <div class="text-muted small">
      <%= time_ago_in_words(message.created_at) %> ago
    </div>
  </div>

  <div>
    <%= message.content %>
  </div>
</div>
